!plugins/FastChunkPregenerator/configuration.yml
!plugins/dynmap/*.txt
!plugins/dynmap/templates
*.bat
*.log
*.log.gz
banned-ips.json
banned-players.json
bukkit.yml
bundler/*
commands.yml
help.yml
logs/*
ops.json
permissions.yml
plugins/*
/crash-reports
/sandbox/poi
sandbox/advancements/*
sandbox/datapacks/bukkit/pack.mcmeta
sandbox/playerdata/*
sandbox/stats/*
sandbox_nether/advancements/*
sandbox_nether/playerdata/*
sandbox_nether/stats/*
sandbox_the_end/advancements/*
sandbox_the_end/playerdata/*
sandbox_the_end/stats/*
spigot.yml
usercache.json
usernamecache.json
wepif.yml
whitelist.json