!plugins/FastChunkPregenerator/configuration.yml
!plugins/dynmap/*.txt
!plugins/dynmap/templates
*.bat
*.log
*.log.gz
banned-ips.json
banned-players.json
bukkit.yml
bundler/*
commands.yml
help.yml
logs/*
ops.json
permissions.yml
plugins/*
/crash-reports
sandbox/*
!sandbox/region/*.mca
sandbox_nether/*
sandbox_the_end/*
spigot.yml
usercache.json
usernamecache.json
wepif.yml
whitelist.json
