*.log
*.log.gz
logs/*
sandbox/advancements/*
sandbox/playerdata/*
sandbox/stats/*
sandbox_nether/advancements/*
sandbox_nether/playerdata/*
sandbox_nether/stats/*
sandbox_the_end/advancements/*
sandbox_the_end/playerdata/*
sandbox_the_end/stats/*
plugins/*
spigot-1.15.2.bat
banned-ips.json
banned-players.json
ops.json
usercache.json
usernamecache.json
whitelist.json
bukkit.yml
commands.yml
help.yml
permissions.yml
spigot.yml
wepif.yml